body {
    background-color: papayawhip;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color:palevioletred;
    text-align: center;
    font-size: 300%;
    line-height: ;
}

h5 {
    color:darkolivegreen;
    font-size: 2000%;
    text-align: right;
    padding: -30px;
    word-spacing: -150px;
}
p {
    padding: -200px;

}
