body {
    background-color: papayawhip;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color:palevioletred;
    text-align: center;
    font-size: 300%;
    line-height: -200px;
}

h5 {
    color:darkolivegreen;
    font-size: 900%;
    text-align: right;
    line-height: -90000px;
    word-spacing: -70px;
}
p {
    font-size: 150%;
    font-family: Arial, Helvetica, sans-serif;

}
