body {
    background-color: papayawhip;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(https://i.pinimg.com/564x/d1/b5/30/d1b53023ae57cf238d9ede026e15939a.jpg);


h1 {
    color:palevioletred;
    text-align: center;
    font-size: 300%;
    line-height: -200px;
}

h5 {
    color:darkolivegreen;
    font-size: 900%;
    text-align: right;
    line-height: -90000px;
    word-spacing: -70px;
}
p {
    font-size: 150%;
    font-family: Arial, Helvetica, sans-serif;

}
